<!-- Footer -->

<footer class="custom-footer">

    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-4">

                <h5 class="footer-heading">CONTACT US ↓</h5>

                <p><strong>PM SHRI S S +2 High School</strong></p>
                <p>Raidih, Gumla</p>
                <p>Jharkhand - 835232</p>

                <!-- <p><strong>Phone:</strong> 9472785092</p> -->

                <p><strong>Email:</strong> ssraidih01@gmail.com</p>

                <div class="social-icons">

                    <p>Follow Us:</p>

                    <a href="#"><i class="fab fa-facebook"></i></a> <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube "></i></a> <a href="#"><i class="fab fa-x-twitter"></i></a>

                </div>

            </div>

            <div class="col-md-4 mb-4">

                <h5 class="footer-heading">QUICK LINKS ↓</h5>

                <ul class="p-0">

                    <li class="quick-link-item"><a href="/gallery.html"> GALLERY</a></li>
                    <li class="quick-link-item">ALUMNI</li>
                    <li class="quick-link-item">VACANCY</li>
                    <li class="quick-link-item">ASSIGNMENTS</li>
                    <!-- <li class="quick-link-item">ALUMNI</li> -->


                </ul>

            </div>

            <div class="col-md-4 mb-4">

                <h5 class="footer-heading">LOCATION MAP ↓</h5>

                <div class="map-container">

                  
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.9819890647977!2d84.45409181095019!3d22.95089041891251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398aed75756f94dd%3A0xac19f508d68a05ef!2sS.S.%2B2%20High%20School%20Raidih!5e0!3m2!1sen!2sin!4v1784647529167!5m2!1sen!2sin"
                         allowfullscreen="" loading="lazy"
                        referrerpolicy="strict-origin-when-cross-origin" width="100%" height="220"
                        style="border:10;"></iframe>

                </div>

            </div>

        </div>

    </div>

</footer>

<div class="bottom-bar text-center">

    © 2026 PM SHRI S S +2 HIGH SCHOOL, RAIDlH. All Rights Reserved.

</div>
</body>

</html>